<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="custom.css">
    <link href="css/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminHomePage</title>
    <style>
    body {
    background: linear-gradient(90deg, rgba(254,151,54,1) 0%, rgba(255,208,37,1) 8%, rgba(255,240,158,1) 16%, rgba(254,151,54,1) 100%);
    background-size: 400% 400%;
    }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><p>Alexa Hotel</p></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ml-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <form action="/adminhomepage">
                        <button type="submit" class = "btn btn-secondary" style = "color: #fff; background-color: #fe9736; border-color: #fe9736;">Clienti</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/recenzii">
                        <button type="submit" class = "btn btn-secondary" style = "color: #fff; background-color: #fe9736; border-color: #fe9736;">Recenzii</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/tabelrezervari">
                        <button type="submit" class = "btn btn-secondary" style = "color: #fff; background-color: #fe9736; border-color: #fe9736;">Rezervari</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/tabelcazari">
                        <button type="submit" class = "btn btn-secondary" style = "color: #fff; background-color: #fe9736; border-color: #fe9736;">Cazari</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/tabelcamere">
                        <button type="submit" class = "btn btn-secondary" style = "color: #fff; background-color: #fe9736; border-color: #fe9736;">Camere</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/tabelfacturi">
                        <button type="submit" class = "btn btn-secondary" style = "color: #fff; background-color: #fe9736; border-color: #fe9736;">Facturi</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/tabelsalarii">
                        <button type="submit" class = "btn btn-secondary" style = "color: #fff; background-color: #fe9736; border-color: #fe9736;">Salarii</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/tabeldepartamente">
                        <button type="submit" class = "btn btn-secondary" style = "color: #fff; background-color: #fe9736; border-color: #fe9736;">Departamente</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/tabelfunctii">
                        <button type="submit" class = "btn btn-secondary" style = "color: #fff; background-color: #fe9736; border-color: #fe9736;">Functii</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<br>

<div class="center bg-white p-3 mb-3 mt-5 rounded" style="width:100%; padding-left:15px; padding-right:15px; margin-left:10px; margin-right:10px;">
    <table class="table table-bordered table-striped" style="table-layout: fixed; width: 100%;">
        <thead>
        <tr>
            <th scope="col">Numar factura</th>
            <th scope="col">Nume client</th>
            <th scope="col">Prenume client</th>
            <th scope="col">Data plata</th>
            <th scope="col">Valoare plata</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="factura,iStat:${facturi}"
            th:style="${iStat.odd}? 'font-weight: bold;'"
            th:alt-title="${iStat.even}? 'even' : 'odd'"
            th:with="one=1">
            <td style = "word-wrap: break-word;" th:text="${factura.numar}"></td>
            <td style = "word-wrap: break-word;" th:text="${factura.nume}"></td>
            <td style = "word-wrap: break-word;" th:text="${factura.prenume}"></td>
            <td style = "word-wrap: break-word;" th:text="${factura.data_plata}"></td>
            <td style = "word-wrap: break-word;" th:text="${factura.valoare_plata}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <form action="/logout">
        <button type="submit" class = "btn btn-secondary" style = "color: #fff; background-color: #fe9736; border-color: #fe9736;">Logout</button>
    </form>
</div>
</body>
</html>